{% extends 'Template.php.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
    {% if session.id and session.pseudo and session.status == 1 %}
        <div class="col-lg-10 offset-lg-1 text-center">
        Bienvenue sur l'interface d'administration
        {% for com in reportedCom %}
            <div class="warning">
                Le commentaire de "{{ com.author }}" a été signalé sur le profil de  : <a href="?action=member&id={{ com.idMember }}">{{ com.pseudo }}</a>
                <p class="comAdminManagement">
                    <span><a href="?action=moderateCom&id={{ com.id }}">Modérer le commentaire</a></span> /
                    <span><a href="?action=deleteCom&id={{ com.id }}">Supprimer le commentaire</a></span>
                </p>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-lg-10 offset-lg-1 text-center">
            Vous n'avez pas l'autorisation pour accéder à cette page
        </div>
    {% endif %}
    </div>
{% endblock %}