{% extends 'withSidebar.php.twig' %}

{% block title %}Ajouter une nouvelle photo{% endblock %}

{% block sidebar %}
    <div class="sidebar-text d-flex text-center px-3 my-5">
       {% if photo %}Modifiez {% else %} Ajoutez {% endif %}une photo dans votre galerie {{ session.pseudo }}.
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="?action=member&id={{ session.id }}">
                <span data-feather="corner-down-left"></span>
                Retour au profil
            </a>
        </li>
    </ul>
{% endblock %}

{% block main %}
    <!-- display only on smartphone and tablet -->
    <div class="col-12 text-center offset-lg-2 mt-5 d-lg-none">
        <a class="helpLink" href="?action=member&id={{ session.id }}">
            <span data-feather="corner-down-left"></span>
            Retour au profil
        </a>
    </div>
    <div class="col-12 col-sm-10 offset-sm-1 col-lg-6 offset-lg-4 my-5 text-center">
        {% if error %}
            <div class="col-12 text-center error">
                {{ error }}
            </div>
        {% endif %}
        <form method="post" action="{% if photo %}?action=confirmEdit{% else %}?action=confirmAdd{% endif %}" enctype="multipart/form-data">
            <input type="hidden" value="{{ session.id }}" name="idMember"/>
            {% if photo.id %}
                <input type="hidden" value="{{ photo.id }}" name="idPhoto" />
            {% endif %}
            {% if photo.url %}
                <img src="{{ photo.url }}" alt="{{ photo.name }}" class="photoEditing mb-3 mx-auto d-block">
                <a href="" class="helpLink">Supprimer cette photo</a>
            {% else %}
                <div class="form-group">
                    <label for="photo">Choisir une photo (max. 1 Mo) :</label>
                    <input type="hidden" name="MAX-FILE-SIZE" value="1048576"/>
                    <input type="file" name="photo" class="parcourir" id="photo" required=""/>
                    <p id="uploadHelpBlock" class="form-text text-muted">
                        Vous pouvez, par exemple, utiliser ce <a class="helpLink" href="https://compressnow.com/fr/" target="_blank">site</a>
                        pour compresser votre photo si nécessaire.
                    </p>
                </div>
            {% endif %}
            <div class="form-group mt-3">
                <label for="title">Titre de la photo (max. 50 caractères) :</label>
                <input class="form-control" type="text" name="title" placeholder="Titre de la photo" id="title" required="" {% if post.title %} value ="{{ post.title }}" {% elseif photo.name %} value ="{{ photo.name }}" {% endif %}>
            </div>
            <div class="form-group">
                <label for="description">Description de la photo : </label>
                <textarea name="description" id="description" class="form-control" rows="5" required="" placeholder="Description ..." >{% if post.description %} {{ post.description }}{% elseif photo.description %} {{ photo.description }} {% endif %}</textarea>
            </div>
            <div class="form-group">
                <label for="lat">Latitude du lieu de prise de vue:</label>
                <input class="form-control" type="text" name="lat" placeholder="ex : 43.216667" id="lat" required="" {% if post.lat %} value ="{{ post.lat }}" {% elseif photo.lat %} value ="{{ photo.lat }}" {% endif %}>
                <label for="lng">Longitude du lieu de prise de vue :</label>
                <input class="form-control" type="text" name="lng" placeholder="ex : 7.752111" id="lng" required="" {% if post.lng %} value ="{{ post.lng }}" {% elseif photo.lng %} value ="{{ photo.lng }}" {% endif %}>
                <p id="gpsHelpBlock" class="form-text text-muted">
                    Vous pouvez utilisez le site de <a class="helpLink" href="https://www.coordonnees-gps.fr/" target="_blank">Google</a>
                    ou le site <a class="helpLink" href="http://www.gpsfrance.net/adresse-vers-coordonnees-gps" target="_blank">GPSFrance</a>
                    pour trouver les coordonnées.
                </p>
            </div>
            <div class="form-group">
                <label for="status">Choisir une catégorie pour la photo :</label>
                <select class="form-control" name="status">
                    <option value="0" {% if post.status == 0 %} selected {% elseif photo.status == 0 %} selected {% endif %}>Public</option>
                    <option value="1" {% if post.status == 1 %} selected {% elseif photo.status == 1 %} selected {% endif %}>Privé</option>
                </select>
                <p id="statusHelpBlock" class="form-text text-muted">
                    Une photo <strong>public</strong> pourra être vu pas toute personne visitant le site.<br>
                    Une photo <strong>privé</strong> ne pourra être vue que par les autres membres inscrits
                </p>
            </div>
            <input type="submit" name="submit" value="{% if photo %}Modifier{% else %}Envoyer{% endif %}" class="envoi"/>
        </form>
    </div>
{% endblock %}