{% extends 'Template.php.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <section class="col-md-6 offset-md-3 text-center">
        <h2>Bienvenue {% if session.id and session.pseudo %}{{ session.pseudo }}{% endif %} !</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla tortor, pulvinar nec lacus vel, blandit cursus enim.
            Phasellus tristique nunc non accumsan blandit. Curabitur at ornare ipsum. Sed diam elit, vehicula id diam eget, vestibulum
            feugiat arcu. Sed egestas, nibh non tincidunt dignissim, dui urna dapibus justo, non placerat quam mauris a mi. Ut vel
            nulla sit amet elit molestie efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Nullam ornare ullamcorper nibh at auctor.
        </p>
    </section>
    <div class="col-12 text-center popularPhotos">
        <div class="grid">
            <div class="grid-sizer">
                {% if session.id and session.pseudo %}
                    {% for photo in photos %}
                        <div class="grid-item itemHome">
                            <div class="homeItem">
                                <img src="{{ photo.url }}" />
                                <div class="photoInfos">
                                    <span class="photoAuthor"><a href="?action=member&id={{ photo.idMember }}">{{ photo.pseudo }}</a></span>
                                    <span class="photoTitle"></i>{{ photo.name }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for photo in photos %}
                        {% if photo.status == 0 %}
                            <div class="grid-item itemHome">
                                <div class="homeItem">
                                    <img src="{{ photo.url }}" />
                                    <div class="photoInfos">
                                        <span class="photoAuthor"><a href="?action=member&id={{ photo.idMember }}">{{ photo.pseudo }}</a></span>
                                        <span class="photoTitle"></i>{{ photo.name }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12 rejoin">
        <div class="col-6 offset-3 text-center ">
            {% if session.id and session.pseudo %}
                <a href="?action=member&id={{ session.id }}" class="goProfil">Gestion du profil</a>
            {% else %}
                <p>Rejoignez-nous !</p>
                <div class="row">
                    <div class="col-lg-6">
                        <a href="?action=connectForm">
                            <button class="btn btn-sm btn-outline-dark" type="button">Se Connecter</button>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="?action=registrationForm">
                            <button class="btn btn-sm btn-outline-dark" type="button">S'inscrire</button>
                        </a>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}



