{% extends 'withSidebar.php.twig' %}

{% block title %}Gestion des commentaires{% endblock %}

{% block sidebar %}
        {% if session.id and session.pseudo and session.status == 1%}
            <div class="sidebar-text d-flex text-center px-3 my-5">
                Page de gestion des commentaires
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="?action=member&id={{ session.id }}">
                        <span data-feather="corner-down-left"></span>
                        Retour au profil
                    </a>
                </li>
            </ul>
        {% endif %}
{% endblock %}

{% block main %}
    {% if session.id and session.pseudo and session.status == 1 %}
        <div class="col-lg-10 offset-lg-1 text-center">
        {% if error %}
            <div class="col-12 text-center error">
                {{ error }}
            </div>
        {% endif %}
        {% for com in reportedCom %}
            {% if com is null %}
                <div>tout va bien ! Il n'y a aucun commentaire à modérer</div>
            {% else %}
                <div class="warning">
                Le commentaire de "{{ com.author }}" a été signalé sur le profil de  : <a href="?action=member&id={{ com.idMember }}">{{ com.pseudo }}</a>
                <p class="comAdminManagement">
                    <span><a href="?action=moderateCom&id={{ com.id }}">Modérer le commentaire</a></span> /
                    <span><a href="?action=deleteCom&id={{ com.id }}">Supprimer le commentaire</a></span>
                </p>
                </div>
            {% endif %}

        {% endfor %}
        </div>
    {% else %}
        <div class="col-lg-10 offset-lg-1 text-center">
            Vous n'avez pas l'autorisation pour accéder à cette page
        </div>
    {% endif %}
{% endblock %}