{% extends 'Template.php.twig' %}

{% block content %}
    <nav class="col-md-2 d-none d-lg-block sidebar">
        <div class="sidebar-sticky">
            {% block sidebar %}
                <div class="text-center mb-3 mt-4 avatar">
                    <img src="{{ member.avatar_url }}" alt="avatar">
                </div>
                <div class="sidebar-text d-flex justify-content-between align-items-center px-3 mt-3 mb-1">
                    <span data-feather="user"></span>
                    {{ member.pseudo }}
                </div>
                <div class="sidebar-text d-flex justify-content-between align-items-center px-3 mb-3">
                    <span>Membre depuis le :</span>
                    <span>{{ member.registration_date_fr }}</span>
                </div>
                <div class="text-center mb-3">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojet9.adeline-decarpentries.fr%2Findex.php%3Faction%3Dmember%26id%3D{{ member.idMember}}&amp;src=sdkpreparse"
                       class="fb-xfbml-parse-ignore">
                        <button class="fb-share-button fbButton" data-href="http://projet9.adeline-decarpentries.fr/index.php?action=member&amp;id={{ member.idMember }}"
                                data-layout="button" data-size="large" data-mobile-iframe="true">
                            <span data-feather="facebook"></span>Partager
                        </button>
                    </a>
                </div>
                {% if session.id and session.pseudo %}
                    {% if  session.id != member.idMember %}
                        <div class="sidebar-text d-flex justify-content-center px-3 mb-5">
                            <form method="post" action="?action=reportMember">
                                <input type="hidden" name="memberId" value="{{ member.idMember }}" />
                                <input type="submit" value="Signaler le membre" class="reportButton"/>
                            </form>
                        </div>
                    {% endif %}
                    {% if session.id == member.idMember %}
                        <ul class="nav flex-column" id="stacked-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="index.php">
                                    <span data-feather="home"></span>
                                    Accueil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="?action=addPhoto">
                                    <span data-feather="camera"></span>
                                    Ajouter une photo
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="?action=profileManagement">
                                    <span data-feather="settings"></span>
                                    Gestion du profil
                                </a>
                            </li>
                            {% if session.status == 1 %}
                                <li class="nav-item">
                                    <a href="#" data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu" class="nav-link">
                                        <span data-feather="monitor"></span>
                                        Administration <span data-feather="chevron-down"></span>
                                    </a>
                                    <ul class="nav nav-stacked collapse left-submenu" id="item1">
                                        <li class="nav-item-secondary">
                                            <a href="?action=comManagement" class="nav-link">
                                                <span data-feather="message-circle"></span>
                                                Gestion des commentaires
                                            </a>
                                        </li>
                                        <li class="nav-item-secondary">
                                            <a href="?action=membersManagement" class="nav-link">
                                                <span data-feather="users"></span>
                                                Gestion des membres
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="index.php?action=disconnect">
                                    <span data-feather="log-out"></span>
                                    Déconnexion
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                {% endif %}
            {% endblock sidebar %}
        </div>
    </nav>
    {% block main %}{% endblock main %}

{% endblock content %}